.tech-tag {
    background: #31afaf;
    border-radius: 0%;
    border-color: transparent;
    font-family: "Barlow Semi Condensed", Helvetica, sans-serif;
    font-weight: 600;
    font-size: .85rem;
}
