h4 {
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
}

.tech-tag {
    background: #31afaf;
    border-radius: 0%;
    border-color: transparent;
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
    font-size: .85rem;
}
