applause-button {
  .style-root {
    fill: #429d9d !important;
    stroke: #429d9d !important;
    color: #429d9d !important;
  }

  .count-container {
    top: -100% !important;
    color: #797979;

    .count::after {
      content: 'Vỗ tay';
      display: block;
      font-size: 0.9rem;
    }
  }

  &.disabled-clap {
    pointer-events: none;
  }
}

.applause-aside {
  position: fixed;
  top: 50%;
  left: 8%;
  cursor: pointer;
}

.applause-foot {
  display: none;
  cursor: pointer;
  margin-top: 5em;
}

@media only screen and (max-width: 1024px) {
  .applause-aside {
    display: none;
  }

  .applause-foot {
    display: flex;
    justify-content: center;
  }
}

