h2 {
  font-size: 1.85rem;
}
p {
  margin: 0
}

.title, .heading {
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 1.85rem;
}

.dot {
  color: rgba(117, 117, 117, 1);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
}

.reading-time {
  color: #8e8e8e;
}
