.head-main {
  width: 100%;
  position: sticky;
  z-index: 15;
  top: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f0f0f2;
  padding: 0 2.45rem;
  background: white
}
.profile-img {
  width: auto;
  height: 70px;
  margin: 0;
}

.head-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 3.4;
}

.bottom-bar {
  width: 100%;
  background: black;
  display: none;
  flex-direction: row;
  justify-content: space-around;
}
.mobile-pages-main {
  width: 100%;
  background: white;
  display: none;
}

.head-logo {
  font-size: 1.75rem;
}

.mobile-bio-main {
  background: white;
  display: none;
}

@media only screen and (min-width: 1000px) {
  .profile-img {
    margin-left: 25px;
  }
}
@media only screen and (max-width: 850px) {
  .bottom-bar{display: flex;}
  .social-links{display: none;}
  .mobile-pages-main{display: block;}
  .mobile-bio-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
